{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome {{username}}! This is the {{ page }}</h1>
    <p><a href='{{path('logout')}}'>Logout</a></p>
{% endblock %}